body{
    height: 100vh;
    background-image: url(/assets/images/library_bg.png);
    background-size: cover; 
    background-position: center;; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

.main-container{
    margin-top: 200px;
}
.nav-items-left{
    align-items: center;
}

@media screen and (max-width: 992px) {
    .saluto{
        order: -100;
       padding: 20px 0 10px 0 !important;
    }
    .nav-items-left{
        align-items: start;
    }

}

.user-info-avatar{
    width: 200px;
    height: 200px;
}



.user-book, .single-book{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background-image: url("/assets/images/book_cover.png");
    background-size: cover;
    width: 350px;
    aspect-ratio: 0.844;
    padding-left: 4%;
    padding-top: 8% ;
    text-align:  center;
    color: #c19f41 ;
    box-shadow: 8px 8px 8px rgb(87, 87, 87);
    border-radius: 10px;
}

.book-body{
    flex-grow: 1;
}

.buttons-book{
    margin: 8% 8% 14% 0;

}

#msg-box{
    position: absolute;
    top: 100px;
    left:  calc(100vw - 75%);
}

.btn-delete{
    background-color: #B7A568;
    color: #41262B;
    border: 1px solid #B7A568;
}
.btn-delete:hover{
    border: 1px solid #B7A568;
}

.btn-edit{
    background-color: #41262B;
    color: #B7A568;
    border: 1px solid  #B7A568
}
.btn-edit:hover{
    border: 1px solid #B7A568;
    background-color: #B7A568;
    color: #41262B;;
}

.edit-box{
    position: fixed;
    top: 150px; 
    right:0;
    width: 100%;
    margin: 0 auto;

}

.inner-edit{
    max-width: 500px;
    margin: 0 auto;
    background-color: #866c71;

    padding: 50px;
}